*, ::after, ::before {
    box-sizing: border-box;
}

.App {
    height: 100vh;
    background-color: #1f1f20;

}

.wrapper {
    width: 100%;
    padding: 50px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;


}

.counterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 680px;
    border-radius: 45px 45px 45px 45px;
    -moz-border-radius: 45px 45px 45px 45px;
    border: 4px solid darkslateblue;
    height: 400px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 140px;
    border-radius: 45px 45px 45px 45px;
    -moz-border-radius: 45px 45px 45px 45px;
    border: 4px solid darkslateblue;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 30px;
}


.settings-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 680px;
    -moz-border-radius: 45px 45px 45px 45px;
    border: 4px solid darkslateblue;
    height: 400px;
}

.input-wrapper {
    width: 318px;
    height: 140px;
    border-radius: 45px 45px 45px 45px;
    -moz-border-radius: 45px 45px 45px 45px;
    border: 4px solid darkslateblue;
}

.input-wrapper:first-child div {

}

.input-wrapper:first-child div span {
    color: white;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
}

.input-wrapper:first-child div div {
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;

}

.input-wrapper:first-child div div .value-input {
    border: 3px solid darkslateblue;
    border-radius: 6px;
    width: 140px;
    height: 35px;
    background-color: white;

}

.input-wrapper:first-child div div .checkbox-input {

}

.buttons-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 355px;
    height: 110px;
    border-radius: 45px 45px 45px 45px;
    -moz-border-radius: 45px 45px 45px 45px;
    border: 4px solid darkslateblue;
}

.button {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border: none;
    border-bottom: .15em solid black;
    border-radius: 5px;
    padding: 1em 0.5em;
    background: darkslateblue;
}

.show-value-wrapper {
    width: 680px;
    -moz-border-radius: 45px 45px 45px 45px;
    border: 4px solid darkslateblue;
    height: 400px;
    overflow-y: auto;
}

.show-value-wrapper div {
    padding: 20px 30px;
    color: white;
}
.show-value-wrapper div ul li{
    list-style-type: none;
}
.error {
    color: red;
}